*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
  word-break: break-word;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body {
  margin: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --ff: "Montserrat", sans-serif;
  --ff-second: "Rubik", sans-serif;
  --transition: .2s all ease-in-out;
  --c-white: #fff;
  --c-desc: #FFFFFFB3;
  --c-dark1: #151515;
  --c-primary: #CBFC01;
  --font-h2-reg: 500 20px/45px var(--ff);
}

@media screen {
  :root {
    --font-h2-reg: 500 16px/45px var(--ff);
  }
}
body {
  font-family: var(--ff);
  background: var(--c-dark1);
  color: var(--c-white);
}

html._overflow {
  overflow: hidden;
}
html._overflow body {
  overflow: hidden;
}

a {
  color: var(--c-white);
  transition: var(--transition);
}
a:hover {
  color: var(--c-primary);
}

.wrapper {
  max-width: 1440px;
  margin-inline: auto;
}

.btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  outline: 0;
  border: 0;
  padding: 21px 45px;
  transition: var(--transition);
  background: var(--c-primary);
  color: var(--c-dark1);
  font-family: var(--ff);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  gap: 21px;
}
.btn:hover {
  background: #a2c901;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d1d1d1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  padding: 0 60px;
  padding-top: 44px;
  width: 100%;
  margin-inline: auto;
}
.header__logo {
  color: rgb(255, 255, 255);
  font-family: var(--ff);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.header__ul {
  display: flex;
  gap: 55px;
}
.header__nav-btn {
  background: none;
  color: var(--c-white);
  align-items: baseline;
  display: flex;
  gap: 13px;
  cursor: pointer;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1480px;
  padding: 147px 0 130px 120px;
  margin-inline: auto;
  background-image: url();
}
.welcome-section__text {
  color: var(--c-primary);
  font-family: var(--ff-second);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}
.welcome-section__title {
  font-family: var(--ff);
  font-size: 72px;
  font-weight: 900;
  line-height: 97px;
  text-align: left;
  max-width: 600px;
  margin-bottom: 40px;
}
.welcome-section__title span {
  color: var(--c-primary);
}
.welcome-section__desc {
  max-width: 489px;
  color: var(--c-desc);
  font-family: var(--ff-second);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  margin: 0;
  margin-bottom: 50px;
}
.welcome-section__btn {
  color: var(--c-dark1);
  font-family: var(--ff);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  gap: 21px;
}
.companies {
  background: var(--c-primary);
}
.companies-container {
  max-width: 1320px;
  padding: 0 60px;
  margin-inline: auto;
}
.companies__ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__info-text {
  color: var(--c-primary);
  font-family: var(--ff-second);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin: 0;
}
.services__info-title {
  font-family: var(-ff);
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
}
.services__info-title span {
  color: var(--c-primary);
}
.services__checking {
  padding: 61px 40px 60px 40px;
  text-align: end;
  transition: var(--transition);
}
.services__checking:hover {
  background: rgb(46, 46, 46);
}
.services__checking-line {
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  width: 40px;
}
.services__checking-text {
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: var(--ff);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-top: 35px;
  margin-bottom: 24px;
}
.services__checking-desc {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--ff);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  margin-bottom: 69px;
  width: 272px;
}
.services__checking-btn {
  background: rgb(255, 255, 255);
  padding: 16px;
  transition: var(--transition);
  cursor: pointer;
}
.services__checking-btn:hover {
  background: var(--c-primary);
}
.services-container {
  max-width: 1320px;
  padding: 0 60px;
  width: 100%;
  margin-inline: auto;
  padding-top: 150px;
}
.services-top {
  display: flex;
  justify-content: space-between;
}
.services-bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 144px;
}

.benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  padding: 0 60px;
  padding-top: 150px;
  width: 100%;
  margin-inline: auto;
}

.benefits-section__text {
  color: var(--c-primary);
  font-family: var(--ff-second);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.benefits-section__title {
  font-family: var(--ff);
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  max-width: 431px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.benefits-section__title span {
  color: var(--c-primary);
}
.benefits-section__desc {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--ff-second);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  max-width: 492px;
  margin-bottom: 81px;
}
.benefits-section__people {
  display: flex;
  gap: 89px;
}
.benefits-section__people-titlle {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--ff);
  font-size: 28px;
  font-weight: 900;
  line-height: 100%;
  text-align: left;
}
.benefits-section__people-titlle span {
  color: var(--c-primary);
}
.benefits-section__people-active {
  margin: 0;
  color: var(--c-primary);
  font-family: var(--ff-second);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
}

.time-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  padding: 0 60px;
  padding-top: 200px;
  width: 100%;
  margin-inline: auto;
}
.time-section__text {
  color: var(--c-primary);
  font-family: var(--ff-second);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.time-section__title {
  font-family: var(--ff);
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  max-width: 499px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.time-section__title span {
  color: var(--c-primary);
}
.time-section__desc {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--ff-second);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  max-width: 492px;
  margin-bottom: 50px;
}

.blocks {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 1320px;
  padding: 0 75px;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
  margin-inline: auto;
}
.blocks__info {
  padding: 56px;
  border: 1px solid rgb(46, 46, 46);
  transition: var(--transition);
}
.blocks__info-img {
  background: rgb(255, 255, 255);
  padding: 18px;
  width: 58px;
  height: 58px;
}
.blocks__info:hover {
  background: rgb(46, 46, 46);
}
.blocks__info-title {
  color: rgb(255, 255, 255);
  font-family: var(--ff);
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  max-width: 257px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.blocks__info-desc {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--ff-second);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  max-width: 277px;
  margin-bottom: 17px;
}
.blocks__btn {
  background: none;
  color: rgb(255, 255, 255);
  font-family: var(--ff);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  align-items: center;
  gap: 10px;
  display: flex;
  cursor: pointer;
}

.get-section {
  display: flex;
  align-items: center;
  max-width: 1320px;
  padding: 150px 60px 150px;
  width: 100%;
  margin-inline: auto;
}
.get-section__container {
  background: var(--c-primary);
  padding: 50px 0 50px;
}
.get-section__title {
  color: rgb(21, 21, 21);
  font-family: var(--ff);
  font-size: 72px;
  font-weight: 700;
  line-height: 123%;
  letter-spacing: -0.84px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.get-section__btn {
  color: var(--c-primary);
  font-family: var(--ff);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  background: rgb(21, 21, 21);
  padding: 21px 50px;
  margin-inline: auto;
  display: flex;
  transition: var(--transition);
}
.get-section__btn:hover {
  background: none;
  color: rgb(21, 21, 21);
  cursor: pointer;
}

.swiper-section {
  background: var(--c-primary);
  padding: 120px 120px;
  position: relative;
  max-width: 1440px;
  padding: 120px 20px 120px;
  margin-inline: auto;
}
.swiper-section__swiper-slide {
  background: var(--c-dark1);
}
.swiper-section__bg {
  position: absolute;
  top: 0%;
  left: 0%;
}

.slide__desc {
  color: rgb(255, 255, 255);
  font-family: var(--ff-second);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  max-width: 263px;
  margin-bottom: 26px;
  margin: 0;
}
.slide__info {
  display: flex;
  align-items: center;
}
.slide__info-name {
  color: rgb(255, 255, 255);
  font-family: var(--ff);
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}
.slide__info-job {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--ff-second);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}/*# sourceMappingURL=style.css.map */