body {
  font-family: var(--ff);
  background: var(--c-dark1);
  color: var(--c-white);
  overflow-x: hidden;
}

html._overflow {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

a {
  color: var(--c-white);
  transition: var(--transition);
  &:hover {
    color: var(--c-primary);

  }
}

.wrapper{
	max-width: 1440px;
    margin-inline: auto;
}

// .container {
// 	max-width: calc(1200px + 120px);
// 	padding: 0 60px;
// 	width: 100%;
// 	margin-inline: auto;
// }

// section {
// 	padding-bottom: 90px;
// 	border-bottom: 1px solid rgba(255, 255, 255, 0.15);

// 	@include mobile{
// 		padding-bottom: 55px;
// 	}
// }

.btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  outline: 0;
  border: 0;
  padding: 21px 45px;
  transition: var(--transition);

  background: var(--c-primary);

  color:var(--c-dark1);
  font-family: var(--ff);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  gap: 21px;

  &:hover {
    background: darken($c-primary, 10%);
  }
}

// .title {
// 	margin-top: 90px;
// 	font-size: 44px;
// 	color: var(--c-white);
// 	font-weight: 700;
// 	margin-bottom: 17px;
// 	@include mobile {
// 		font-size: 32px;
// 		margin-top: 50px;
// 	}

// 	span {
// 		color: var(--c-primary);
// 	}
// }

// .desc {
// 	color: var(--c-body);
// 	font-size: 16px;
// 	font-weight: 400;
// 	line-height: 160%;
// 	max-width: 460px;
// 	margin-bottom: 40px;
// 	@include mobile {
// 		font-size: 14px;
// 	}
// }
