.benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    padding: 0 60px;
    padding-top: 10px;
    width: 100%;
    margin-inline: auto;
}
.benefits-section {

		&__info {
		}

		&__text {
		}

		&__title {
		}

		&__desc {
		}

		&__btn {
		}

		&__img {
		}
}
.btn {
}
