.date {
}
.date-line {
    background: rgba(255, 255, 255, 0.7);
    height: 2px;
    width: 100%;
    display: block;
}
.date-desc {
    display: flex;
    justify-content: center;
    margin: 42px 42px;

    color: rgba(255, 255, 255, 0.7);
     font-family: var(--ff); 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -2%;
    text-align: center;
}
