.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  padding: 0 60px;
  width: 100%;
  margin-inline: auto;
  position: relative;
  padding-bottom: 59px;

  &-bg {
    position: absolute;
    z-index: -1;
  }

  &__a {
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--ff-second);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  &__form {
    margin-bottom: 21px;
    position: relative;
  }

  &__input {
    max-width: 389px;
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    padding: 13px 164px 13px 18px;
    border: none;

    color: rgba(0, 0, 0, 0.7);
    font-family: var(--ff-second);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -2%;
    text-align: left;
  }

  &__btn {
    position: absolute;
    right: 0;
    background: var(--c-primary);
    padding: 13px 34px 12px 43px;
    color: rgb(21, 21, 21);
    font-family: var(--ff);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -2%;
    text-align: left;
    cursor: pointer;
  }
}
.footer-links {
  display: flex;
  gap: 16px;
  flex-direction: column;

  &__icons {
    display: flex;
    gap: 16px;
  }
}
.footer-logo {
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: var(--ff);
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -2%;
  text-align: left;
  margin-bottom: 2px;
}
.footer-desc {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--ff-second);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
    margin: 0;
  text-align: left;
  margin-bottom: 23px;
  max-width: 250px;
}
.footer-title {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--ff);
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-bottom: 6px;
}
.footer-sub {
    margin-left: 40px;
  &__title {
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--ff);
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
  }

  &__desc {
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--ff-second);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -2%;
    text-align: left;
    opacity: 0.5;
    margin: 0;
    max-width: 326px;
  }
}
