.header {
  &-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(1200px + 120px);
    padding: 0 60px;
    padding-top: 10px;
    width: 100%;
    margin-inline: auto;
  }

  &__ul {
    display: flex;
    gap: 55px;
  }

  &__nav-btn{
    background: none;
    color: white;
    align-items: baseline;
    display: flex;
    gap: 13px;
    cursor: pointer;
  }
}
