.time-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    padding: 0 60px;
    padding-top: 10px;
    width: 100%;
    margin-inline: auto;
    
    &__info {
    }

    &__text {
    }

    &__title {
    }

    &__desc {
    }

    &__people {
    }

    &__people-container {
    }

    &__people-titlle {
    }

    &__people-active {
    }

    &__img {
    }
}
